@font-face{
    font-family: 'bunge';
    src: url('Bunge.ttf');
    font-style: normal;
    font-weight: normal;
}

@letra:"bunge"; 
@titulo:50px;
@azul:#3A8CE3;
@tamanio:25px;
@centrar: center;

.tabla{
    
    border: solid;
    border-color: @azul;
    font-size: @tamanio;
    width: 80%;
    margin: auto;
    text-align: @centrar;
}


.logo{   
    margin: 0%;    
    text-align: center;
    font-family: @letra;   
    font-size: @titulo;  
    color: @azul;
}

.deslizar{
    position: relative;
    
}

.menu{
    margin: 0;
    padding: 0px;
    text-align: center;
    line-height: 100px;
    display: flex;
    font-family: @letra;
    font-size: @tamanio;
}

.menu{
    li {
        list-style: none;   
        flex-grow: 1;
    }   
} 

.menu{ 
    li{
        a{
            display: block;
            text-decoration: none;  
            color:@azul;   
        } 
    }
}

table{
    .tabla
}
